# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker volumes (if local)
kafka_data/
postgres_data/
spark-data/
